header {
    background: #000000;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.principal {
    background: #C78C19;
    padding: 20px;
}

.tituloprincipal {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#faxada {
    width: 100%;
    height: 666;
}

p {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

footer {
    text-align: center;
    background: #000000;
    padding: 40px 0;
}

.copyrights {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
